@model List<AssessmentMappingModel>
@if (Model != null)
{

    <table class="table table-striped table-bordered datatable" id="datatable">
        <thead class="AssessmentMappingTable tableHeader">
            <tr>
                <th class="text-center">CreatedOn</th>
                <th class="text-center">Assessment Name</th>
                <th class="text-center">Description</th>
                <th class="text-center">Assigned User Name</th>
                <th class="text-center">EmailAddress</th>
                <th class="text-center" style="width: 12%;">Action</th>
            </tr>
        </thead>
        <tbody style="text-align:center;">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CreatedOn.ToString("dd MMM yyyy")</td>
                    <td>@item.TestName</td>
                    <td>@item.Description</td>
                    <td>@item.Name</td>
                    <td>@item.EmailAddress</td>
                    <td class="text-center">
                        <span class="tooltip-container">
                            <button class="btn btn-warning btn-xs btn-icon fa fa-eye " data-toggle="modal" data-target="#ViewAssessmentMappingModal" onclick="ViewAssessmentMapping('@item.Id')">
                            </button>
                            <span class="tooltip">View</span>
                        </span>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
