@model OnlineTestSystem.Models.UserModel


<div class="container mt-4">
    <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <th>User Id:</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>Name:</th>
                <td>@Model.FirstName  @Model.LastName</td>
            </tr>
            <tr>
                <th>Email Address:</th>
                <td>@Model.EmailAddress</td>
            </tr>
            <tr>
                <th>Role:</th>
                <td>@Model.Role</td>
            </tr>
            <tr>
                <th>Created Date:</th>
                <td>@Model.CreatedOn.ToString("MM/dd/yyyy")</td>
            </tr>
        </tbody>
    </table>
</div>
